
/* Main Container */
.main-container {
  background-color: #121212;
  color: #404744;
  height: 78vh;
  border-radius: 10px;
  margin-left: 10px ;
  width: 74%;
  padding: 10px 30px 100px;
  overflow: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Popular Artists Container */
.popular-artist-container h1 {
  color: white;
  font-size: x-large;
}
.popular-artist-container div {
  display: flex;
  justify-content: space-between;
}
.popular-artist-items {
  display: flex;
  flex-direction: column;
  max-height: 9rem;
  max-width: 9rem;
}
.popular-artist-items img {
  border-radius: 10px;
  max-height: 9rem;
  max-width: 9rem;
}
.popular-artist-items h1 {
  color: white;
  font-weight: 600;
  margin-top: 5px;
  font-size: large;
}

.popular-artist-items p {
  font-size: small;
  color: #98979c;
  font-weight: 600;
  margin-top: 0px;
}

/* Featured Container */
.featured-charts-container h1 {
  color: white;
  font-size: x-large;
  margin-top: 100px;
}
.featured-charts-container div {
  display: flex;
  justify-content: space-between;
}
.featured-items {
  height: 9rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
}
.featured-items img {
  border-radius: 10px;
}
.featured-items p {
  font-size: small;
  color: #98979c;
  font-weight: 600;
}


/* Popular Albums Container */
.popular-albums-container h1 {
  color: white;
  font-size: x-large;
  margin-top: 100px;
}
.popular-albums-container div {
  display: flex;
  justify-content: space-between;
}
.popular-albums-items {
  height: 9rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
}
.popular-albums-items img {
  border-radius: 10px;
}
.popular-albums-items h1 {
  color: white;
  font-weight: 600;
  margin-top: 5px;
  font-size: large;
}
.popular-albums-items p {
  font-size: small;
  color: #98979c;
  font-weight: 600;
  margin-top: 0px;
}
/* bottom links */
.bottom-links-container{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.bottom-links-container div{
    width: Calc(75vw/5);
    margin-right: 10px;
}
.bottom-links-container div h1{
    color: white;
    font-size: medium;
}
.bottom-links-container div p{
    color:#98979c;
    font-size: smaller;
    font-weight: 600;
    margin-top: 0px;
}
.bottom-link-icons {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    color: white;
}
.bottom-link-icons div{
    background-color: #212121;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.copyright-container{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color:#98979c;
    font-weight: 600;
    margin-top: 30px;
}
.copyright-container p{
    margin-left: 5px;
}